{% load static %}
<html>
<head>
  <title>notto.io</title>
  {% include '_header.html' %}
  {% include '_navbar.html' %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
  <div class="main container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="title">
          <img src="{% static 'img/logo.png' %}" alt="Notto.io"/>
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="subtitle">
          Notto.io is a simple online text editor<br/>
          that enables anyone to save and edit notes <span class="only-desktop">using rich text</span><br/>
          <strong>Simply access an URL on the site <span class="only-mobile"><br/></span>and start typing!</strong>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="input-group">
          <span class="input-group-addon no-border">notto.io/</span>
          <input type="text" class="form-control no-border" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"/>
        </div>
        <div class="center">
          <a type="button" class="button">Start typing</a>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="col-md-offset-4 col-md-4">
        <ul class="nav nav-pills nav-justified">
          <li>
            <a class="github-button" href="https://github.com/renatoliveira/notto" data-size="large" data-show-count="true" aria-label="Star renatoliveira/notto on GitHub"  alt="Notto.io Github">Star</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
  <script async defer src="{% static 'js/home.js' %}"></script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
