{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{note_url}} - notto.io</title>
  {% include '_header.html' %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.4/quill.snow.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/note.css' %}">
</head>
<body>
  {% csrf_token %}
  <div class="editor-wrapper">
    <div id="editor"></div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.4/quill.min.js"></script>
  <script>
    window.content = `{{content}}`
  </script>
  <script src="{% static 'js/note.js' %}" charset="utf-8"></script>
</body>
</html>
