body {
  margin: 0;
  padding: 0;
  max-height: 100vh;
  overflow-x: hidden;
}
form {
  margin: 0;
}
.ql-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: white;
}
.save-button {
  margin-left: 5px;
}
#editor {
  position: relative;
  z-index: 1;
  min-height: 100vh;
}
.ql-editor {
  min-height: 100vh;
}
.ql-status {
  opacity: 0;
  transition: opacity .25s ease;
  color: orange;
}
.ql-status.loading {
  opacity: 1;
}
@media (max-device-width: 600px) {
  .ql-toolbar {
    font-size: 24px;
  }
  #editor {
    font-size: 19px;
  }
}
